{% extends 'index.html' %}
{% load static %}
{% block content %}


    <!-- Contact Start -->
    <div class="container-fluid mt-5 pt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Contact US</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-4 mb-3">
                        <div class="mb-4">
                            <p><b>MOBILE</b></p>
                            <img src="{% static 'images/contact-list.png'%}" style="width:40px; height:40px;">
                            <span style="margin-left:50px">+92 307 8123255</span>
                        </div><hr>


                        <div class="mb-4">
                            <p><b>EMAIL</b></p>
                            <img src="{% static 'images/email.png'%}" style="width:40px; height:40px;">
                            <span style="margin-left:50px">jamshedhafeez44@gmail.com</span>
                        </div><hr>

                        <div class="mb-4">
                            <p><b>LOCATION</b></p>
                            <img src="{% static 'images/placeholder.png'%}" style="width:40px; height:40px;">
                        </div>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d55618.71112644656!2d71.6563719!3d29.3945988!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x393b9162b709d017%3A0x89c98aeb2f85fffd!2sAL-Hafeez%20Tech%20Center!5e0!3m2!1sen!2s!4v1689011137207!5m2!1sen!2s" width="100%" height="100%" frameborder="0"  allowfullscreen style="width:700px; height:500px"></iframe>


                     </div>
                </div>
                <div class="col-lg-4">
                    <!-- Social Follow Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Follow Us</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                                <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">Facebook</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                                <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">Twitter</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                                <i class="fab fa-linkedin-in text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">Linkedin</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                                <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">Instagram</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                                <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">Youtube</span>
                            </a>

                        </div>
                    </div>
                    <!-- Social Follow End -->

                    
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    {% endblock %}