{% extends 'index.html' %}
{% block content %}
    <!-- Main News Slider Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 px-0">
                <div class="owl-carousel main-carousel position-relative">
                    <div class="position-relative overflow-hidden" style="height: 500px;">
                        <img class="img-fluid h-100" src="{{last.picture.url}}" style="object-fit: cover;">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="">{{last.category}}</a>
                                <a class="text-white" href="">{{last.datetime}}</a>
                            </div>
                            <a class="h2 m-0 text-white text-uppercase font-weight-bold" href="/blogs/{{last.id}}">{{last.heading}}</a>
                        </div>

                    </div>
                    <div class="position-relative overflow-hidden" style="height: 500px;">
                        <img class="img-fluid h-100" src="{{second_last.picture.url}}" style="object-fit: cover;">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="">{{second_last.category}}</a>
                                <a class="text-white" href="">{{second_last.datetime}}</a>
                            </div>
                            <a class="h2 m-0 text-white text-uppercase font-weight-bold" href="/blogs/{{second_last.id}}">{{second_last.heading}}</a>
                        </div>
                    </div>
                    <div class="position-relative overflow-hidden" style="height: 500px;">
                        <img class="img-fluid h-100" src="{{third_last.picture.url}}" style="object-fit: cover;">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="">{{third_last.category}}</a>
                                <a class="text-white" href="">{{third_last.datetime}}</a>
                            </div>
                            <a class="h2 m-0 text-white text-uppercase font-weight-bold" href="/blogs/{{third_last.id}}">{{third_last.heading}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 px-0">
                <div class="row mx-0">
                    <div class="col-md-6 px-0">

                        <div class="position-relative overflow-hidden" style="height: 250px;">
                            <img class="img-fluid w-100 h-100" src="{{VR_blogs.picture.url}}" style="object-fit: cover;">

                            <div class="overlay">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                        href="">{{VR_blogs.category}}</a>
                                    <a class="text-white" href=""><small>{{VR_blogs.datetime}}</small></a>
                                </div>
                                <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="/blogs/{{VR_blogs.id}}">{{VR_blogs.heading}}</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 px-0">
                        <div class="position-relative overflow-hidden" style="height: 250px;">
                            <img class="img-fluid w-100 h-100" src="{{AI_blogs.picture.url}}" style="object-fit: cover;">
                            <div class="overlay">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                        href="">{{AI_blogs.category}}</a>
                                    <a class="text-white" href=""><small>{{AI_blogs.datetime}}</small></a>
                                </div>
                                <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="/blogs/{{AI_blogs.id}}">{{AI_blogs.heading}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 px-0">
                        <div class="position-relative overflow-hidden" style="height: 250px;">
                            <img class="img-fluid w-100 h-100" src="{{OS_blogs.picture.url}}" style="object-fit: cover;">
                            <div class="overlay">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                        href="">{{OS_blogs.category}}</a>
                                    <a class="text-white" href=""><small>{{OS_blogs.datetime}}</small></a>
                                </div>
                                <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="/blogs/{{OS_blogs.id}}">{{OS_blogs.heading}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 px-0">
                        <div class="position-relative overflow-hidden" style="height: 250px;">
                            <img class="img-fluid w-100 h-100" src="{{Robotics_blogs.picture.url}}" style="object-fit: cover;">
                            <div class="overlay">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                        href="">{{Robotics_blogs.category}}</a>
                                    <a class="text-white" href=""><small>{{Robotics_blogs.datetime}}</small></a>
                                </div>
                                <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="/blogs/{{Robotics_blogs.id}}">{{Robotics_blogs.heading}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main News Slider End -->


    <!-- Breaking News Start -->

    <!-- Featured News Slider Start -->
    <div class="container-fluid pt-5 mb-3">
        <div class="container">
            <div class="section-title">
                <h4 class="m-0 text-uppercase font-weight-bold">Featured Blogs</h4>
            </div>
            <div class="owl-carousel news-carousel carousel-item-4 position-relative">
                {% for blog in blogs %}
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <img class="img-fluid h-100" src="{{blog.picture.url}}" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                href="">{{blog.category}}</a>
                            <a class="text-white" href=""><small>{{blog.datetime}}</small></a>
                        </div>
                        <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="/blogs/{{blog.id}}">{{blog.heading}}</a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Featured News Slider End -->


    <!-- News With Sidebar Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h4 class="m-0 text-uppercase font-weight-bold">Latest Blogs</h4>
                                <a class="text-secondary font-weight-medium text-decoration-none" href="/blogs">View All</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                    <!--AI category last blog-->
                            <div class="position-relative mb-3">

                                <img class="img-fluid w-100" src="{{AI_blogs.picture.url}}" style="object-fit: cover;">
                                <div class="bg-white border border-top-0 p-4">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">{{AI_blogs.category}}</a>
                                        <a class="text-body" href=""><small>{{AI_blogs.datetime}}</small></a>
                                    </div>
                                    <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="/blogs/{{AI_blogs.id}}">{{AI_blogs.heading}}</a>


                                </div>

                                <div class="d-flex justify-content-between  border border-top-0 ">

                                </div>
                            </div>
                        </div>
                        <!--IT category blog-->
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100" src="{{IT_blogs.picture.url}}" style="object-fit: cover;">
                                <div class="bg-white border border-top-0 p-4">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">{{IT_blogs.category}}</a>
                                        <a class="text-body" href=""><small>{{IT_blogs.datetime}}</small></a>
                                    </div>
                                    <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="/blogs/{{IT_blogs.id}}">{{IT_blogs.heading}}</a>

                                </div>
                                <div class="d-flex justify-content-between border border-top-0 ">

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 mb-3">

                        </div>
                        <!--Computer Networks blog-->
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100" src="{{CN_blogs.picture.url}}" style="object-fit: cover;">
                                <div class="bg-white border border-top-0 p-4">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">{{CN_blogs.category}}</a>
                                        <a class="text-body" href=""><small>{{CN_blogs.datetime}}</small></a>
                                    </div>
                                    <a class="h4 d-block mb-0 text-secondary text-uppercase font-weight-bold" href="/blogs/{{CN_blogs.id}}">{{CN_blogs.heading}}</a>
                                </div>
                                <div class="d-flex justify-content-between bg-white border border-top-0">

                                </div>
                            </div>
                        </div>
                        <!--programming-->
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100" src="{{Programming_blogs.picture.url}}" style="object-fit: cover;">
                                <div class="bg-white border border-top-0 p-4">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">{{Programming_blogs.category}}</a>
                                        <a class="text-body" href=""><small>{{Programming_blogs.datetime}}</small></a>
                                    </div>
                                    <a class="h4 d-block mb-0 text-secondary text-uppercase font-weight-bold" href="/blogs/{{Programming_blogs.id}}">{{Programming_blogs.heading}}</a>
                                </div>
                                <div class="d-flex justify-content-between bg-white border border-top-0">

                                </div>
                            </div>
                        </div>
                        <!--operating systems blog-->
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="{{OS_blogs.picture.url}}" alt="" style="width:110px; height:110px;">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">{{OS_blogs.category}}</a>
                                        <a class="text-body" href=""><small>{{OS_blogs.datetime}}</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="/blogs/{{OS_blogs.id}}">{{OS_blogs.heading}}</a>
                                </div>
                            </div>
                            <!--robotics-->
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="{{Robotics_blogs.picture.url}}" alt="" style="width:110px; height:110px;">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">{{Robotics_blogs.category}}</a>
                                        <a class="text-body" href=""><small>{{Robotics_blogs.datetime}}</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="/blogs/{{Robotics.id}}">{{Robotics_blogs.heading}}</a>
                                </div>
                            </div>
                        </div>
                        <!--quantum computing-->
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="{{QC_blogs.picture.url}}" alt="" style="width:110px; height:110px;">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">{{QC_blogs.category}}</a>
                                        <a class="text-body" href=""><small>{{QC_blogs.datetime}}</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="/blogs/{{QC_blogs.id}}">{{QC_blogs.heading}}</a>
                                </div>
                            </div>
                            <!--data science-->
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="{{DS_blogs.picture.url}}" alt="" style="width:110px; height:110px;">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">{{DS_blogs.category}}</a>
                                        <a class="text-body" href=""><small>{{DS_blogs.datetime}}</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="/blogs/{{DS_blogs.id}}">{{DS_blogs.heading}}</a>
                                </div>
                            </div>
                        </div>
                        <!--Automation-->
                        <div class="col-lg-12 mb-3">

                        </div>
                        <div class="col-lg-12">

                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="{{Automation_blogs.picture.url}}" alt="" style="width:110px; height:110px;">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">{{Automation_blogs.category}}</a>
                                        <a class="text-body" href=""><small>{{Automation_blogs.datetime}}</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="/blogs/{{Automation_blogs.id}}">{{Automation_blogs.heading}}</a>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="{{VR_blogs.picture.url}}" alt="" style="width:110px; height:110px;">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">{{VR_blogs.category}}</a>
                                        <a class="text-body" href=""><small>{{VR_blogs.datetime}}</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="/blogs/{{VR_blogs.id}}">{{VR_blogs.heading}}</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4">
                    <!-- Social Follow Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Follow Us</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                                <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">Facebook</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                                <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">Twitter</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                                <i class="fab fa-linkedin-in text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">Linkedin</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                                <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">Instagram</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                                <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">Youtube</span>
                            </a>

                        </div>
                    </div>
                    <!-- Social Follow End -->

                    <!-- Ads Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Advertisement</h4>
                        </div>
                        <div class="bg-white text-center border border-top-0 p-3">
                            <a href=""><img class="img-fluid" src="media/news-800x500-2.jpg" alt=""></a>
                        </div>
                    </div>
                    <!-- Ads End -->

                    <!-- Popular News Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Tranding Blogs</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">


                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="{{CN_blogs.picture.url}}" alt="" style="width:110px; height:90px;">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">{{CN_blogs.category}}</a>
                                        <a class="text-body" href=""><small>{{CN_blogs.datetime}}</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="/blogs/{{CN_blogs.id}}">{{CN_blogs.heading}}</a>
                                </div>
                            </div>

                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="{{OS_blogs.picture.url}}" alt="" style="width:110px; height:90px;">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">{{OS_blogs.category}}</a>
                                        <a class="text-body" href=""><small>{{OS_blogs.datetime}}</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="/blogs/{{OS_blogs.id}}">{{OS_blogs.heading}}</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="{{AI_blogs.picture.url}}" alt="" style="width:110px; height:90px;">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">{{AI_blogs.category}}</a>
                                        <a class="text-body" href=""><small>{{AI_blogs.datetime}}</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="/blogs/{{AI_blogs.id}}">{{AI_blogs.heading}}</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="{{DS_blogs.picture.url}}" alt="" style="width:110px; height:90px;">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">{{DS_blogs.category}}</a>
                                        <a class="text-body" href=""><small>{{DS_blogs.datetime}}</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="/blogs/{{DS_blogs.id}}">{{DS_blogs.heading}}</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="{{IT_blogs.picture.url}}" alt="" style="width:110px; height:90px;">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">{{IT_blogs.category}}</a>
                                        <a class="text-body" href=""><small>{{IT_blogs.datetime}}</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="/blogs/{{IT_blogs.id}}">{{IT_blogs.heading}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Popular News End -->




                </div>
            </div>
        </div>
    </div> 

{% endblock %}