{% extends 'index.html' %}
{% block content %}


    <!-- Contact Start -->
    <div class="container-fluid mt-5 pt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Terms & Conditions</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-4 mb-3">
                        <div class="mb-4">

                            <b>Substance Utilization</b><br>
All substance given in the area is for teacher purposes because they were. Without our permission, you'll not imitate, pass on, or change any substance.

                            <br><b>Security</b><br>
We prioritize client security. Your personal information is secured according to our security arrangement, which you must study to understand how your data is handled.

                            <br><b>Disclaimer</b><br>
We offer information to the driver of our information, but we make no guarantees regarding the substance's precision or completeness. Clients have to affirm information independently.

                            <br><b>Client Conduct</b><br>
Clients are expected to bolt in deliberately and capably. Any harming, damaging, or illegal workout in the area will result in inciting a conclusion of access.

                            <br><b>Changes to Terms</b><br>
We spare the correct to modify these terms and conditions at any time. You must study them sometimes for upgrades or changes. Your continued utilization of the area constitutes an affirmation of any redresses.

                            <br><b>Affirmation of Terms</b><br>
By getting to and utilizing our development area, you agree to comply with these terms and conditions and any related laws and regulations.

                            <br><b>Mental Property</b><br>
All trademarks, logos, and substances in the area are the property of their proprietors and are guaranteed by mental property laws. Unauthorized utilization is entirely prohibited.


                        </div>
                     </div>
                </div>
                <div class="col-lg-4">
                    <!-- Social Follow Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Follow Us</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                                <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">Facebook</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                                <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">Twitter</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                                <i class="fab fa-linkedin-in text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">Linkedin</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                                <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">Instagram</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                                <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">Youtube</span>
                            </a>

                        </div>
                    </div>
                    <!-- Social Follow End -->

                    
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    {% endblock %}